@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  height: 100vh; /* Altura total da tela */
  margin: 0; /* Remove margens */
  padding: 0; /* Remove padding */
}

/* Custom base styles */
@layer base {
  html, body {
    height: 100%; /* Garante que html e body ocupem 100% da altura */
    width: 100%; /* Garante que html e body ocupem 100% da largura */
  }

  li {
    @apply p-4;
  }

  button {
    @apply text-white border bg-indigo-600 border-indigo-600
           hover:bg-transparent hover:text-indigo-600 rounded-md;
  }
}
