/* Galeria.module.css */
.galeriaContainer {
    background-color: rgb(34, 42, 54);
    color: rgb(156, 163, 175);
}

.eventoCard {
    background-color: white;
    color: slate-900;
    padding: 16px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s; /* Adiciona uma transição suave */
    max-width: 320px; /* Largura máxima do card */
    margin: auto; /* Centraliza o card no grid */
}

.eventoImage {
    border-radius: 8px;
    margin-bottom: 8px;
    width: 100%;
    height: auto;
    max-height: 250px; /* Altura máxima da imagem */
    object-fit: cover; /* Ajusta a imagem para cobrir o espaço */
}

/* Estilo para o título H3 */
.customH3 {
    font-size: 3rem; /* 48px */
    font-weight: bold; /* Negrito */
    color: #89b72d; /* Cor verde clara */
    text-align: center; /* Centraliza o texto */
    margin: 1rem 0; /* Margem superior e inferior */
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3); /* Sombra para destaque */
}

/* Estilo para o parágrafo */
.customParagraph {
    font-size: 1.5rem; /* 24px */
    color: rgba(75, 85, 99, 0.9); /* Cinza com opacidade */
    text-align: center; /* Centraliza o texto */
    line-height: 1.6; /* Aumenta o espaçamento entre linhas */
    margin: 0.5rem 0; /* Margem superior e inferior */
}

/* Estilo para o título H2 (opcional, se necessário em outros lugares) */
.customH2 {
    font-size: 2.5rem; /* 40px */
    font-weight: 600; /* Semi-bold */
    color: #4B5563; /* Cor do texto */
    text-align: center; /* Centraliza o texto */
    margin: 1.5rem 0; /* Margem superior e inferior */
    text-transform: uppercase; /* Texto em maiúsculas */
    letter-spacing: 1px; /* Espaçamento entre letras */
}

